body {
    font-family: Arial;
    text-align: center;
    background: #f5f5f5;
}

.inputBox {
    margin: 20px;
}

input, textarea {
    padding: 5px;
    margin: 5px;
}

button {
    padding: 5px 10px;
    margin: 10px;
}

#nfaGraph, #dfaGraph {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
}
